ul {
  list-style: none;
  cursor: pointer;
  display: flex;
}

li {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid black;
}

#color-palette {
  padding: 0;
}

#pixel-board {
  margin-top: 15px;
  display: table;
}

.line {
  display: table-row;
}

.pixel {
  display: table-cell;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.generate-container {
  margin-bottom: 15px;
}