#title {
  margin: 0 10px;
  padding: 0 10px;
}

#color-palette {
  display: inline-block;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.color {
  display: inline-block;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  margin: 1px;
}

.pixel-board {
  display: flex;
}

.pixels {
  border: 1px solid black;
  margin: 1px;
  width: 80px;
  height: 80px;
  position: relative;
  display: inline-block;
}
