.topo {
  width: 90%;
  text-align: center;
  padding: 20px;
  background-color: rgb(215, 223, 215);
  border-radius: 3px;
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#color-palette {
  width: 90%;
  text-align: center;
}

.color {
  display: inline-block;
  border: 1px solid black;
  margin: 1px;
  width: 40px;
  height: 40px;
}

#pixel-board {
  width: 90%;
  height: 90%;
  line-height: 0px;
  text-align: center;
}

.pixel {
  display: inline-block;
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  line-height: 41px;
}

#board-size {
  display: inline-block;
  width: 130px;
}

.board {
  width: 90%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(245, 213, 171);
  border-radius: 3px;
}

.button {
  background-color: rgb(47, 235, 10);
  border: none;
  border-radius: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  color: aliceblue;
}

#menu-colors {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

#menu-colors div {
  display: inline-block;
}

.label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.choices {
  margin: 0 auto;
  width: 90%;
  margin-bottom: 20px;
}

.foot {
  margin: 15px auto;
  width: 90%;
}
