.color {
  width: 50px;
  height: 50px;
  display: inline-block;
  border: black solid 1px;
  margin: 30px 10px;
  border-radius: 5px;
}

.pixel {
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: table-cell;
}

body {
  background: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#clearBtn {
  margin: 30px 58px;
  
}

#board-size {
  width: 120px;
  text-align: center;
}

#user-painel {
  margin-bottom: 30px;
}

input {
  margin-right: 20px;
}