.color {
border: solid black 1px;
width: 50px;
height: 50px;
display: inline-block;
}

.black {
background-color: black;
}

.red {
background-color: red;
}

.blue {
background-color: blue;
}

.green {
background-color: green;
}
