body {
  background-color: rgb(69, 151, 69);
}

main {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  color: beige;
}

#color-palette {
  display: block;
  text-align: center;
}

.color {
  display: inline-block;
  border: 1px solid black;
  padding: 20px;
  align-content: center;
}

.pixel {
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: table-cell;
}

.out {
  display: inline-block;
  margin: 15px;
}

#board-size {
  text-align: center;
  width: 50px;
}

main {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
