* {
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 15px 0;
}

.color {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
  background-color: white;
}

section {
  padding: 5px;
}

button {
  padding: 5px;
  margin-left: 5px;
}

.pixel-colors {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.pixel-colors div {
  margin: 2px;
}

.pixel-table {
  display: flex;
  justify-content: center;
}

.menu {
  width: 30%;
  margin: 20px auto;
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}

.menu label {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.menu button {
  margin-right: 5px;
  padding: 5px;
  width: 20%;
}

.footer {
  padding: 15px 30px;
  display: flex;
  justify-content: flex-end;
  background-color: rgb(38, 39, 43);
  font-size: 1.5rem;
  color: white;
}

.footer a {
  color: rgb(253, 251, 251);
  text-decoration: none;
}

.footer a:hover {
  color: rgb(33, 134, 97);
}
