#color-palette {
  display: table-row;
}

div .color {
  display: table-cell;
  border: 1px solid black;
  width: 40px;
  height: 40px;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.white {
  background-color: white;
}

.pixel {
  display: table-cell;
  border: 1px solid black;
  width: 40px;
  height: 40px;
}

.lineSquare {
  display: table-row;
}

#color-palette {
  display: inline-block;
}
